body, html {
  height: 100%;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}



.head {
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1px;
  width: 100%; 
  height: 40px;
  background: #2E0052;
}

.userOptions {
  position: absolute; 
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 5px; 
  font-size: 16px; 
}

.userOptions span:last-child {
  margin-right: 0; 
}

.userOptions span {
  color: white;
  cursor: pointer;
}
.mobNumber {
  color: white;
  display: flex;
  align-items: center;
}
.phone{
  height:21px;
  width:21px;
margin-top: 7px;
margin-left: 35px;
padding: 3.35px 3.35px 4.38px 4.38px;
}

.phoneNumber{
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
.discountOffer {
font-size: 22px;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
text-align: center;
color: #FFFFFF;
margin-left: 350px;
}
.image{
  width: 63px;
height: 63px;
margin-left: 65px;
margin-right: 10px;
}

.discount-text {
  margin: 0;
}


.emptyLine {
  height: 20px;
}

.options-link:hover {
  text-decoration: underline;
}

.options-link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}
.logoSection {
  display: flex;

}

.logo {
  margin-top: 9px;
  font-size: 24px;
  width: 176px;
height: 52px;
font-family: Roboto;
font-size: 44.13px;
font-weight: 600;
color: #2E0052 !important;
margin-right: 20px;
}

.options {
  display: flex;
  width: 72px;
height: 31px;
margin-top: 24px;
font-family: Roboto;
font-size: 26.41px;
font-weight: 400;
line-height: 30.95px;
text-align: left;
color: #000000;
}

.options span {
  margin-right: 15px;
}

.viewCartButton {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 167px;
height: 45px;
  background-color:#1D7000;
  color:#FFFFFF;
  margin-left: 586px;
  margin-right: 15px;
  border-radius: 45px;
  font-family: Roboto;
  font-size: 22.23px;
  font-weight: 400;
  line-height: 26.05px;
  margin-top: 10px;
}
.cart{
  width: 26.09px;
height: 27.68px;
margin-right: 8px;
}


.userInitials {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 1px solid #2E0052;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
font-size: 35px;
font-weight: 500;
text-align: center;
margin-left: 10px;
}
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.dropdownContent {
  padding: 10px;
margin-top: 10px;
  background: #FFFFFF;
  width: 149px;
  height: 83px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 550 !important;
  line-height: 32.79px;
  text-align: center;
  border-radius: 25px;

  
}

.dropdownContent div {
  margin-bottom: 5px;
  cursor: pointer;
}

.dropdown:before {
  content: '';
  position: absolute;
  top: -10px; 
  right: 20px; 
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.carousel{
position: relative;
}
.ban{
width: 1206px;
height: 307px;
margin-top: 59px;
margin-left: 75px;
}

.searchBar {
display: flex;
align-items: center;
border: 1px solid #ccc; 
background-color: #fff; 
border-radius: 50px;
width: 1200px;
overflow: hidden;
margin-left: 5%;
}

.searchInput {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 18px; 
}
.girl{
  width: 532px;
height: 366px;
  position: absolute;
  transform: translateX(-90%);
}
.para{
  font-family: Roboto;
font-size: 60px;
font-weight: 550;
line-height: 80.37px;
text-align: left;
color: #2E0052;
  position: absolute;
  bottom: 20px; 
  left: 30%;
  transform: translateX(-50%);
  white-space: pre-line; 
}
.searchIcon {
  width: 25px; 
  height: auto;
  margin-right: 20px; 
  margin-left: 10px;
}
.viewOptions {
  display: flex;
  align-items: center;
}

.viewOptions > * {
  margin-right: 20px;
}

.filters {
  display: flex;
}

#select1{
width: 200px;
  height:38px;
  margin-top: 38.56px;
  margin-left: 7px;
  border: none;
  border-radius: 34.15px;
  background: #D9D9D9;
  margin-right: 7px;
  font-family: Roboto;
font-size: 20px;
font-weight: 550;
line-height: 27.45px;
text-align: center;
appearance: none; 
}

#select1 option[value=""] {
  display: none;
}
#select1 option:not([value=""]) {
  border: 1.7px solid #E1E1E1;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 19.05px;
  font-weight: 400;
  line-height: 22.33px;
  text-align: left;
  color: #000000;  
}

#select2{
width: 135px;
height:38px;
margin-top: 38.56px;
margin-left: 7px;
border: none;
border-radius: 34.15px;
background: #D9D9D9;
margin-right: 7px;
font-family: Roboto;
font-size: 20px;
font-weight: 550;
line-height: 27.45px;
text-align: center;
padding-right: 10px;
appearance: none;  
background-repeat: no-repeat;
background-position: calc(100% - 14px) center; 
background-size: 11px;
background-position-y: 60%;
}
  
#select2 option[value=""] {
  display: none;
}

#select2 option:not([value=""]) {
  border: 1.7px solid #E1E1E1;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 19.05px;
  font-weight: 400;
  line-height: 22.33px;
  text-align: left;
  color: #000000;  
  height: 38px;
}

#select3{
  width: 95px;
  padding-right: 10px;
  height:38px;
  margin-top: 38.56px;
  margin-left: 7px;
  border: none;
  border-radius: 34.15px;
  background: #D9D9D9;
  margin-right: 7px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 550;
  line-height: 27.45px;
  text-align: center;
  appearance: none; 

  background-repeat: no-repeat;
  background-position: calc(100% - 14px) center; /* Move arrow a little to the left */
  background-size: 11px;
  background-position-y: 60%;
  }
  #select3 option[value=""] {
    display: none;
  }
  
#select3 option:not([value=""]) {
  border: 1.7px solid #E1E1E1;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 19.05px;
  font-weight: 400;
  line-height: 22.33px;
  height: 30px;
  text-align: left;
  color: #000000;  
}
#select4{
  
width: 95px;
height:38px;
margin-top: 38.56px;
margin-left: 7px;
border: none;
border-radius: 34.15px;
background: #D9D9D9;
margin-right: 7px;
font-family: Roboto;
font-size: 20px;
font-weight: 550;
line-height: 27.45px;
text-align: center;
appearance: none; 
padding-right: 10px;

background-repeat: no-repeat;
background-position: calc(100% - 13px) center; 
background-size: 11px;
background-position-y: 60%;
}
  
#select4 option[value=""] {
  display: none;
}

#select4 option:not([value=""]) {
  border: 1.7px solid #E1E1E1;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 19.05px;
  font-weight: 400;
  line-height: 22.33px;
  text-align: left;
  color: #000000;  
}
#select5{  
  width: 195px;
  height:40px;
  margin-top: 38.56px;
  margin-left: 315px;
  border: 2px solid #E1E1E1;
 border-radius: 30px;
 font-family: Roboto;
  margin-right: 7px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.45px;
  text-align: center;
  appearance: none; 
  background-image: url('down.png'); 
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: calc(100% - 23px) center; 
  background-size: 11px;
  background-position-y: 60%;
  }
  #select5 option[value=""] {
    display: none;
  }
    
#select5 option:not([value=""]) {
  border: 1.7px solid #E1E1E1;
  background: #FFFFFF;
  font-family: Roboto;
  font-size: 19.05px;
  font-weight: 400;
  line-height: 22.33px;
  text-align: left;
  color: #000000; 
  
}
.gridView img {
  width: 45px;
height: 45px;
margin-top: 38.56px;
margin-left: 58px;
padding: 6.11px;
cursor: pointer; 
}

.listView img {
  width: 48px;
  height: 48px;
  margin-top: 38.56px;
  margin-left: -28px;
  padding: 6.11px;
  cursor: pointer; 
}

.options{
  cursor: pointer;
}
.productGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 45px;
  padding: 20px;
  margin-left: 20px; 
}

.productItemGrid {
  width: 258px;
  height: 388px;
  border-radius: 8px;
  border: none;
}
.productItemGrid:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.upperSection {
  width: 258px;
  height: 258px;
  background-color: #D4E5FF;
  position: relative;
}

.lowerSectionGrid {
 
  width: 290px;
height: 113px;
top: 1250px;
left: 117px;
color: #000000;
font-family: Roboto;
font-size: 21px;

text-align: left;
margin-left: 10px;

}

.lowerSectionGrid h3{
  margin-bottom: 0;
  margin-top: 5px;  
  font-weight: 600;
}
.lowerSectionGrid p {
  margin-bottom: 0;
  margin-top: 3px; 
  font-weight: 550;
}

.lowerSectionList h3{
  margin-left: 280px;
  margin-top: -250px;
  font-family: Roboto;
font-size: 42.99px;
font-weight: 600;
line-height: 50.38px;
text-align: left;
}


.lowerSectionList p{
  margin-left: 280px;
  margin-top: -50px;
  margin-bottom: 30px;
  font-family: Roboto;
font-size: 22px;
font-weight: 600;
line-height: 50.38px;
text-align: left;
}
.lowerSectionList p.additional-para {
  line-height: 1.45;
  margin-top: -37px;
}
.customButton{
  cursor: pointer;
  margin-left: 280px;
  width: 120px;
height: 38px;
margin-top: -20px;
border-radius: 26.12px;
background: #2E0052;
font-family: Roboto;
font-size: 22px;
font-weight: 400;
line-height: 29.3px;
text-align: center;
color: #FFFFFF;
border: none;
}

.addToCartButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #FFFFFF;

  border: none;
  border-radius: 20px;
  height: 42px;
  width: 42px;
  cursor: pointer;
}
.productImage {
  width: 183px;
  height: 183px;
margin-left: 37px;

margin-top: 37px;
}

.productsList {
  display: flex;
  flex-direction: column;
}
.productItemList {
  padding: 20px;
 width: 1200px;
  margin-bottom: 40px; 
  margin-left: 10px;
}

.productItemList:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedbackButton {
  background-image: url('feedback.png');

  background-size: cover; 
  background-repeat: no-repeat;
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


.bottom{
    background-color:  #2E0052;
    color: white;
    text-align: center;
    padding: 1px;
   height:45px;
   width: 100%; 

}


/* Media query for mobile view */
@media (max-width: 767px) {
  /* Header */
  .head {
    background: none;
  }
  .mobNumber,
  .userOptions {
    display: none;
  }
  .phoneNumber,
  .discountOffer {
    font-size: 14px;
    margin-left: 5px;
  }
  .searchBar {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 10;
    right: 0; 
    z-index: 100;
    background-color: #2E0052;
    display: flex;
    align-items: center;
    justify-content: center; 



  }

  /* Carousel */
  .carousel {
    flex-direction: column;
  }
  .ban {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .girl {
    width: 100%;
    height: auto;
    transform: translateX(0);
    position: static;
  }
  .para {
    font-size: 40px;
    line-height: 1.2;
    left: 50%;
  }

  /* Filters */
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  width: 100%; /* Set width to ensure it fills the available space */
}

#select1,
#select2,
#select3,
#select4,
#select5 {
  margin-right: 10px; /* Add some spacing between the select elements */
  vertical-align: middle;
  min-width: 150px; /* Set a minimum width for the select elements */
}

  /* Resetting any default list styling */
  /* select {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
  } */

  /* Product Grid */
  .productGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0px;
  }


  .upperSection {
    width: 100%;
    height: auto;
  }
  .lowerSectionGrid {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  /* Footer */
  .bottom {
    height: auto;
    padding: 10px 0;
  }
  .options {
    justify-content: center;
  }
  .viewCartButton {
    margin-left: 0;
    margin-right: 0;
  }
  .userInitials {
    margin-left: 0;
  }

  .searchIcon {
    margin-left: 25px;
    filter: brightness(0) invert(1);
  }

  .searchInput {
    width: 90%; 
    font-size: 16px;
    color: black;
  }

  .carousel {
    margin-top: -15px; 
    margin-bottom: -30px; 

  }

  .viewOptions,
  .productGrid {
    margin-top: 20px; 
  }

  .feedbackButton {
    width: 60px;
    height: 60px;
  }
 
  .emptyLine {
    display: none;
  }

  .logoSection{
    display: none;
  }

  .viewCartButton {
    display: none;
  }

  .userInitials {
    display: none;
  }
  .gridView{
    display: none;
  }
  .listView{
    display: none;
  }


  #select5 {
    width: 100%; /* Adjust the width as needed */
    margin-left: 10px; /* Push it to the left */
}



  .floatingButtonMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0;
    z-index: 100;
  }

  .floatingButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .floatingButton img {
    width: 20px;
    height: 20px;
  }

  .floatingButton span {
    font-size: 12px;
    margin-top: 5px;
  }
}