.modalOverlay {

  margin-top: 100px;
  

}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
display: block;
align-items: end;
  width: 200px;
  height: 60%;
  
}


h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 8px;
}

.submitButton {
    background: #2E0052;

  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

