

.carthead {
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1px;
  width: 100%; 
  height: 40px;
  background: #2E0052;
}
.mobNumber {
  color: white;
  display: flex;
  align-items: center;
}
.phone{
  height:21px;
  width:21px;
margin-top: 7px;
margin-left: 35px;
padding: 3.35px 3.35px 4.38px 4.38px;
}

.phoneNumber{
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}
.discountOffer {
font-size: 22px;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
text-align: center;
color: #FFFFFF;
margin-left: 350px;
}


.userOptions {
  position: absolute; 
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 5px; 
  font-size: 16px; 
}

.userOptions span:last-child {
  margin-right: 0; 
}

.userOptions span {
  color: white;
  cursor: pointer;
}


.picture {
  width: 23px;
  height: 22px;
}


.backToProducts {
  width: 221px;
height: 39px;
  margin-top: 27px;
  margin-left: 74px;
  border: none;
  border-radius: 10px;
  background: hsl(274, 100%, 16%);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32.96px;
  text-align: center;
  color: #FFFFFF;
}

.bagContainer {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.bag {
  color: #000000;
  font-family: Roboto;
font-size: 37px;
font-weight: 600;
text-align: left;
margin-top: -10px;
margin-left: 10px;
}


.emptyCart {
  height: 20px;
}

.logoCart {
  display: flex;
}

.cartLogo {
  width: 176px;
  height: 52px;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 600;
  color: #2E0052 !important;
 
  margin-top: 15px;
  margin-left: 10px;
}

.cartOption {
  margin-top: 22px;
  margin-left: -15px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.cartButton {
  width: 147px;
  height: 45px;
  background-color:#1D7000;
  color:#FFFFFF;
  margin-left: 706px;
  border-radius: 35px;
  font-family: Roboto;
  font-size: 23px;
  border: none;
  font-weight: 400;
  margin-top: 19px;
}

.cartImg {
  width: 48px;
  height: 48px;
  margin-left: 60px;
  margin-top: -50px;
}

.cartImage {
  width: 48px;
  height: 48px;
  margin-left: 40px;
  margin-top: 10px;
}




.productImage {
  width: 100px;
  border: 2px solid #2E0052;
  border-radius: 6px;
margin-left: 40px;
margin-top: 40px;
}
.details {
  display: flex;
  flex-direction: column;
margin-left: 200px;
gap:0;
margin-top: -120px;
}
.details > * {
  margin-bottom: 0;

}
.priceTitle{
  font-family: Roboto;
font-size: 23px;
font-weight: 550;
margin-left: 470px;
gap:0;
margin-top: -105px;
}
.totalTitle{
  font-family: Roboto;
font-size: 23px;
font-weight: 550;
margin-left: 726px;
gap:0;
margin-top: -70px;
}
.totalAmount{
  font-family: Roboto;
font-size: 23px;
font-weight: 550;
margin-left: 720px;
gap:0;
margin-top: -12px;
}
.quantityTitle{
  font-family: Roboto;
font-size: 23px;
font-weight: 550;
margin-left: 580px;
gap:0;
margin-top: -100px;
}
.quantityDropdown{
  width: 100px;
  margin-left: 580px;

}

 

.priceValue{
  font-family: Roboto;
  font-size: 23px;
  font-weight: 550;
  margin-left: 470px;
  gap:0;
  margin-top: -10px;
}
.productName{
  font-family: Roboto;
font-size: 29.93px;
font-weight: 600;
margin-bottom: -10px;
margin-top: 15px;
}
.productColor{
  font-family: Roboto;
font-size: 22px;
font-weight: 400;
color: #A2A2A2;
margin-bottom: -10px;
}
.amt{
  font-family: Roboto;
  font-size: 23px;
  font-weight: 550;
  margin-left: 720px;
  gap:0;
  margin-top: -82px;
}
.inStock{
  font-family: Roboto;
font-size: 22px;
font-weight: 400;
color: #A2A2A2;
}


.separatorHori {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.priceDetailsSection {
  text-align: right;
  padding: 20px;
  margin-top: -140px;
  margin-right: 100px;
  font-family: Roboto;
font-size: 25px;
font-weight: 500;


}
.totalMRP,.discount,.convenienceFee,.totalAmount{
  margin-right: -80px;
}
.totalAmount{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 550;
  margin-top: 10px;
}

.priceDetailsTitle {
  font-family: Roboto;
  font-size: 27px;
}

.placeOrder {
  background-color: yellow;
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 550;
  width: 226px;
height: 47px;
border-radius: 11px;
}

.bottom{
  background-color:  #2E0052;
  color: white;
  text-align: center;
  padding: 10px;
 height:30px;
 width: 100%; 

}
